<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557466461196-1iukgubrbp7acgmfl1jc329uuah0asub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557466461196-1iukgubrbp7acgmfl1jc329uuah0asub</string>
	<key>API_KEY</key>
	<string>AIzaSyCUOfG7d5Hoxxug9q-6hvAdx5tv05vFUH0</string>
	<key>GCM_SENDER_ID</key>
	<string>557466461196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.mambo.fastlaneDemo</string>
	<key>PROJECT_ID</key>
	<string>fastlanedemo-b89d2</string>
	<key>STORAGE_BUCKET</key>
	<string>fastlanedemo-b89d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557466461196:ios:ebc4becf428c5299</string>
	<key>DATABASE_URL</key>
	<string>https://fastlanedemo-b89d2.firebaseio.com</string>
</dict>
</plist>